body{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Work Sans', sans-serif;
}

h1{

}

/*navigation*/
header {
    display: grid;
    grid-template-columns: 1fr;
}

nav {

    max-height: 0px;
    overflow: hidden;
    transition: 0.6s;
    background: #fff;
    color: #000;
    width: 100%;
}

nav.show {
    max-height: 30px;
}

.logo {
    width: 98%;
    height: 50px;
    text-align: right;
    position: absolute;
    margin-top: 1vw;
    z-index: 2;

}

header {
    height: 60px;
    top: 0;
    background: white;
    opacity: .95;
    width: 100%;
    position: fixed;
    z-index: 8;

}

header img {
    height: 100%;
}

.burger {
    cursor: pointer;
    background-color: white;
    border: none;
    justify-self: block;
    width: 50%;
    z-index: 4;
    position: relative;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 6;
}

nav li {
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 13px;

}

.bar1,.bar3{
    width: 31px;
}

/*Splashbillede*/
picture img {
    width: 100%;
    z-index: 5;
}

.splash-container {
    margin-top: 80px;
/*    grid-column-end: span 5;*/

}

/*Splashbillede boks*/



.billedeboks_wrapper{
    height: 50vw;
    width: 90%;
    background-color: #00b9ea;
    z-index: 6;
    position: relative;
    opacity: .98;
    text-align: center;
    color: white;
    /*grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-end: 3;*/
    padding: 2vw;
    margin-left: auto;
    margin-right: auto;
   margin-top: -10vw;
}

.mellemrum{
    width: 60px;
    height: 2px;
    margin: 1.15rem auto 1.4rem;
    background: #052951;
}

.brug_for{
    margin: 4vw;
    margin-top: auto;
}

#map{
    width: 80vw;
    height: 60vw;
    margin: auto;
}

#map svg{
    width: 80vw;
    height: 70vw;
}

.overskrift1{
    margin: 4vw;
    margin-top: auto;

}

.button {
    background-color: #00b9ea;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/*pas på de dyre tekst*/

#dyre_container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 4vw;

}
.de_dyre_wrapper{
    background-color: #ebf6fc;
    height: 203vw;
    width: 90vw;
    padding: 4vw;
    text-align: center;


    }

.overskrift2 {
    margin: 4vw;

}

.overskrift2 ul{
    font-family:'Work Sans', sans-serif;
}



/* Style låneansøgning */


/* Style af sliders + udregning */

form {
            font-family: 'Work Sans', sans-serif;
            color: #292929;
            font-size: 15px;
        }



        .slider1 {
            -webkit-appearance: none;
            width: 100%;
            height: 26px;
            border-radius: 3px;
            background: #efefef;
            outline: none;
            opacity: 3.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider1:hover {
            opacity: 1;
        }

        .slider1::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #19adef;
            cursor: pointer;
            position: relative;
            z-index: 4;
        }

        .slider2 {
            -webkit-appearance: none;
            width: 100%;
            height: 25px;
            border-radius: 3px;
            background: #efefef;
            outline: none;
            opacity: 3.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider2:hover {
            opacity: 1;
        }

        .slider2::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #19adef;
            cursor: pointer;
            position: relative;
            z-index: 4;
        }

        .slidernr1 {
            width: 99%;
            display: flex;
            padding-bottom: 4vw;
        }

        .bokstildemo {
            width: 150px;
            height: 26px;
            background: #efefef;
            display: flex;
            justify-content: space-around;
            border-radius: 3px;
            margin-top: 0.5vw;
            margin-left: -1.6vw;
            border-left: 2px solid #A1DAF8;
        }

        #demo {
            padding: 1vw;
        }

        .slidernr2 {
            width: 99%;
            display: flex;
            padding-bottom: 4vw;

        }

        .bokstilyears {
            width: 150px;
            height: 25px;
            background: #efefef;
            display: flex;
            justify-content: space-around;
            border-radius: 3px;
           margin-top: 0.6vw;
            margin-left: -1.6vw;
            border-left: 2px solid #A1DAF8;
            display: inline-flex;
        }

        #yearsdemo {
            padding: 1vw;
        }

        #sectionwrapper {
            background-color: #A1DAF8;
            margin: 4vw;
            padding: 10px;

        }


        .sliders1 {
            border-bottom: 1px solid white;

        }
        .sliders2 {

            border-bottom: 1px solid white;

        }


/* Style af formular */

input[type=text], select, textarea {
    width: 97.5%;
    padding: 12px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #efefef;
border-radius: 4px;
resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #00b9ea;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin-top: 2vw;
}

input[type=submit]:hover {
    background-color: #052951;
}

.container2 {
    background-color: #efefef;
    padding: 10px;
    margin: 4vw;
    margin-top: -4vw;
}

.container2 h2{
    font-size: 1em;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
}

.navn {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.ph{
    float: left;
    width: 68%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.link {
    text-decoration: underline;
}

/* Cirkeldiagram */

#cirkeldiagram {

    width: 50vw;
    height: 50vw;
    margin: auto;
position: relative;

}
#cirkeldiagram svg{
    width: 50vw;
    height: 50vw;

}

#stroke{
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear forwards;
    transform-origin: center;
    transform: rotate(270deg);


}

@keyframes dash{

    to{
        stroke-dashoffset: 0;
    }
}

.talboks{
    width: 34%;
    height: 34%;
    position: absolute;
    top:calc(50% - 17%);
    left:calc(50% - 17%);
    border-radius: 300px;
    display: flex;
    justify-content: center;
    font-size: 155%;
    letter-spacing: -3px;

}


.boksewrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4vw;

}

.picture {
    width: 60vw;
    height: 60vw;
}

.picture img {
    width: 100%;

}

.txt {
    width: 56.7%;
    height: auto;
    background-color: #00b9ea;
    opacity: .98;
    color: white;
    padding: 4vw;
    position: relative;
    top: -10vw;
}



.boksewrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4vw;

}


.iframe-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.txt2 {
    width: 100%;
    height: 80%;
    background-color: #00b9ea;
    opacity: .98;
    color: white;
    padding: 4vw;
}


/*@media screen and (max-width: 600px) {
    .navn, .ph, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}*/

@media screen and (min-width: 768px) {
.burger {
        display: none;

    }
    nav {
        max-height: 600px;

    }
    li {
        display: inline-block;
        margin-top: 1vw;
        cursor: pointer;

    }

         nav {
        height: 50px;
        width: 100%;
        background-color: white;
        margin: 0px;
        text-align: right;

    }
    nav a {
        display: inline-flex;
        margin: 0.8em;

    }

    .logo {
        width: 200px;
        height: 50px;
        text-align: left;
        margin-left: 1.5em;
        display: block;
    }

    header {
        position: fixed;
        top: 0;
        display: flex;
        background: white;
        width: 100%;

    }

    header img {
        display: block;
        width: auto;
        height: 100%;


    }

    .billedeboks_wrapper{
        height: 30vw;
        width: 70%;
}

    .boksewrapper {
        height: 45vw;
        margin-left: 14vw;
    }

    .picture {
        max-width: 50%
    }

    .picture img {
        width: 100%;

    }

    .txt {
        width: 37vw;
        height: 25vw;
        background-color: #00b9ea;
        opacity: .98;
        color: white;
        padding: 2vw;
        transform: translateX(-10em);
        position: relative;
        top: 17vw;
        z-index: 3;
    }

}


@media screen and (min-width: 1000px) {

    .boksewrapper {
        height: 35vw;
        margin-left: 14vw;
    }

    .picture {
        max-width: 40%
    }

    .picture img {
        width: 100%;

    }

    .txt {
        width: 37vw;
        height: 15vw;
        background-color: #00b9ea;
        opacity: .98;
        color: white;
        padding: 2vw;
        transform: translateX(-10em);
        position: relative;
        top: 17vw;
        z-index: 3;
    }


    .boksewrapper2 {
        display: flex;
        flex-wrap: wrap;
        margin: 4vw;
        max-width: 70%;

    }


    .iframe-container {
        max-width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .iframe-container iframe {
        width: 100% position: absolute;
        top: 0;
        left: 0;
    }


    .txt2 {
        width: 100%;
        background-color: #00b9ea;
        opacity: .98;
        color: white;
        margin: auto;
    }
}
