body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size:
}

h1 {}

/*navigation*/

header {
    display: grid;
    grid-template-columns: 1fr;
}

nav {

    max-height: 0px;
    overflow: hidden;
    transition: 0.6s;
    background: #fff;
    color: #000;
    width: 100%;
}

nav.show {
    max-height: 30px;
}

.logo {
    width: 98%;
    height: 50px;
    text-align: right;
    position: absolute;
    margin-top: 1vw;
    z-index: 2;

}

header {
    height: 60px;
    top: 0;
    background: white;
    opacity: .95;
    width: 100%;
    position: fixed;
    z-index: 1000;

}

header img {
    height: 100%;
}

.burger {
    cursor: pointer;
    background-color: white;
    border: none;
    justify-self: block;
    width: 50%;
    z-index: 4;
    position: relative;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 6;
}

nav li {
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 13px;

}

.bar1,
.bar3 {
    width: 31px;
}

/*Splashbillede*/

picture img {
    width: 100%;
    z-index: 5;
}

.splash-container {
    margin-top: 80px;
    /*    grid-column-end: span 5;*/
}

/*Splashbillede boks*/

.billedeboks_wrapper {
    height: 50vw;
    width: 90%;
    background-color: #00b9ea;
    z-index: 6;
    position: relative;
    opacity: .98;
    text-align: center;
    color: white;
    /*grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-end: 3;*/
    padding: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10vw;
    margin-bottom: 8vw;
}

.mellemrum {
    width: 60px;
    height: 2px;
    margin: 1.15rem auto 1.4rem;
    background: #052951;
}

.mellemrum1 {
    width: 60px;
    height: 2px;
    margin: 1.15rem auto 1.4rem;
    background: #fff;
}

.brug_for {
    margin: 4vw;
    margin-top: auto;
}

#map {
    width: 80vw;
    height: 60vw;
    margin: auto;
    margin-bottom: 8vw;
}

#map svg {
    width: 80vw;
    height: 70vw;
}

.overskrift1 {
    margin: 4vw;
    margin-top: auto;
    margin-bottom: 8vw;

}

.button {
    background-color: #00b9ea;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;

}

/*pas på de dyre tekst*/

#dyre_container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 4vw;
    margin-bottom: 8vw;

}

.de_dyre_wrapper {
    background-color: #ebf6fc;
    height: 209vw;
    width: 90vw;
    padding: 4vw;
    text-align: center;

}

.de_dyre_wrapper h1 {
    font-size: 1.5em;
}

.overskrift2 {
    margin: 4vw;
    margin-top: -8vw;
    margin-bottom: 8vw;

}

.overskrift2 ul {
    font-family: 'Work Sans', sans-serif;
}



/* Style låneansøgning */

/* Style af sliders + udregning */

form {
    font-family: 'Work Sans', sans-serif;
    color: #292929;
    font-size: 15px;
}



.slider1 {
    -webkit-appearance: none;
    width: 100%;
    height: 26px;
    border-radius: 3px;
    background: #efefef;
    outline: none;
    opacity: 3.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider1:hover {
    opacity: 1;
}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #19adef;
    cursor: pointer;
    position: relative;
    z-index: 4;
}

.slider2 {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 3px;
    background: #efefef;
    outline: none;
    opacity: 3.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider2:hover {
    opacity: 1;
}

.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #19adef;
    cursor: pointer;
    position: relative;
    z-index: 4;
}

.slidernr1 {
    width: 99%;
    display: flex;
    padding-bottom: 4vw;
}

.bokstildemo {
    width: 150px;
    height: 26px;
    background: #efefef;
    display: flex;
    justify-content: space-around;
    border-radius: 3px;
    margin-top: 0.5vw;
    margin-left: -1.6vw;
    border-left: 2px solid #A1DAF8;
}

#demo {
    padding: 1vw;
}

.slidernr2 {
    width: 99%;
    display: flex;
    padding-bottom: 4vw;

}

.bokstilyears {
    width: 150px;
    height: 26px;
    background: #efefef;
    display: flex;
    justify-content: space-around;
    border-radius: 3px;
    margin-top: 0.4vw;
    margin-left: -1.6vw;
    border-left: 2px solid #A1DAF8;

}

#yearsdemo {
    padding: 1vw;
}

#sectionwrapper {
    background-color: #A1DAF8;
    margin: 4vw;
    padding: 10px;

}


.sliders1 {
    border-bottom: 1px solid white;

}

.sliders2 {

    border-bottom: 1px solid white;

}


/* Style af formular */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #efefef;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #00b9ea;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin-top: 2vw;

}

input[type=submit]:hover {
    background-color: #052951;
}

.container2 {
    background-color: #efefef;
    padding: 10px;
    margin: 4vw;
    margin-top: -4vw;
    border-top: 1px solid white;
}

.container2 h2 {
    font-size: 1em;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
}

.navn {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.ph {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.link {
    text-decoration: underline;
}

/* Cirkeldiagram */

#cirkeldiagram {

    width: 50vw;
    height: 50vw;
    margin: auto;
    position: relative;

}

#cirkeldiagram svg {
    width: 50vw;
    height: 50vw;

}

#stroke {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear forwards;
    transform-origin: center;
    transform: rotate(270deg);


}

@keyframes dash {

    to {
        stroke-dashoffset: 0;
    }
}

.talboks {
    width: 34%;
    height: 34%;
    position: absolute;
    top: calc(50% - 17%);
    left: calc(50% - 17%);
    border-radius: 300px;
    display: flex;
    justify-content: center;
    font-size: 145%;
    letter-spacing: -2.5px;
    margin-top: -1vw;

}


.boksewrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4vw;

}

.picture {
    width: 100%;

}

.picture img {
    width: 100%;

}

.txt {
    background-color: #00b9ea;
    opacity: .98;
    color: white;
    padding: 4vw;
    position: relative;
    top: -10vw;
}

.txt a {
    color: white;
}

.boksewrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4vw;
    margin-bottom: 8vw;

}


.iframe-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;

    width: 100%;
    height: 100%;
}


.txt2 {
    width: 100%;
    height: 80%;
    background-color: #00b9ea;
    opacity: .98;
    color: white;
    padding: 4vw;

}

footer {
    background-color: #00b9ea;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer h1{
    font-size: 20px;
}

footer p{
    font-size: 14px;
}

.footer-content {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.some {
    width: 100%;
    margin: 1vw;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #052951;
  color: white;
}

.fa-instagram {
  background: #052951;
  color: white;
}

.kontakt {
    width: 250px;
    margin: 1vw;
}

.kontakt a{
    text-decoration: underline;
    color: white;
}

.adresse {
    width: 250px;
    margin: 1vw;
}

@media screen and (min-width: 627px){
    .billedeboks_wrapper{
        width: 75%;
        height: 30vw;
        padding: 5vw;

    }

    .brug_for{
        margin: 8vw;
    }

    .boksewrapper{
        margin: 8vw;
        margin-top: -3vw;
    }

    .boksewrapper2{
        margin: 8vw;
    }


    .overskrift1{
        margin: 8vw;

    }

    .de_dyre_wrapper{
        margin: 4vw;
        height: 119vw;
        margin-top: -0.5vw;
    }

    .talboks{
        margin-top: 1vw;
        font-size: 200%
    }

    .cirkeldiagram svg{

    }

    .overskrift2{
        margin: 8vw;
        margin-top: -8vw;
    }

    #sectionwrapper{
        margin: 8vw;
    }

    .container2{
        margin: 8vw;
        margin-top: -8vw;
    }

    .footer-content{
        text-align: left;
    }

    .some{
        margin-left: 9vw;
    }


}

@media screen and (min-width: 768px) {
    .burger {
        display: none;

    }
    nav {
        max-height: 600px;

    }
    li {
        display: inline-block;
        margin-top: 1vw;
        cursor: pointer;

    }

    nav {
        height: 50px;
        width: 100%;
        background-color: white;
        margin: 0px;
        text-align: right;

    }
    nav a {
        display: inline-flex;
        margin: 0.8em;

    }

    .logo {
        width: 200px;
        height: 50px;
        text-align: left;
        margin-left: 1.5em;
        display: block;
    }

    header {
        position: fixed;
        top: 0;
        display: flex;
        background: white;
        width: 100%;

    }

    header img {
        display: block;
        width: auto;
        height: 100%;


    }

    .billedeboks_wrapper {
        height: 30vw;
        width: 70%;
    }

    .boksewrapper {
        height: 45vw;
        margin-left: 14vw;
    }

    .picture {
       width: 100%;

    }

    .picture img {
        width: 100%;

    }

    .txt {
        width: 100%;
        height: 25vw;
        background-color: #00b9ea;
        opacity: .98;
        color: white;
        padding: 2vw;
        transform: translateX();

    }

    /*.billedeboks_wrapper{
        width: 75%;
        height: 30vw;
        padding: 5vw;

    }*/


    .brug_for{
        margin: 10vw;
    }

    .boksewrapper{
        margin: 10vw;
        margin-top: -3vw;
        margin-bottom: 70vw;
    }

    .boksewrapper2{
        margin: 10vw;
    }


    .overskrift1{
        margin: 10vw;

    }

    .de_dyre_wrapper{
        margin: 6vw;
        height: 104vw;
        margin-top: -0.5vw;
    }

    .talboks{
        margin-top: 2vw;
        font-size: 200%
    }

    #cirkeldiagram{
      margin-top: 4vw;
    }

    .overskrift2{
        margin: 10vw;
        margin-top: -8vw;
        margin-bottom: 10vw;

    }

    #sectionwrapper{
        margin: 10vw;
    }

    .container2{
        margin: 10vw;
        margin-top: -10vw;
    }

    .bokstildemo {
    margin-top: 0.25vw;
    margin-left: -1.4vw;

}


.bokstilyears {
    margin-top: 0.3vw;
    margin-left: -1.4vw;
    height: 24.5px;


}
    .some{
        margin-left: 16vw;
    }

}


@media screen and (min-width: 1024px) {

    .billedeboks_wrapper {
        height: 15vw;
        width: 60%;
    }

    .boksewrapper {

    }

    .picture {
       width: 100%;

    }

    .picture img {
        width: 100%;

    }

    .txt {
        width: 100%;
        height: 30vw;
        background-color: #00b9ea;
        opacity: .98;
        color: white;
        padding: 2vw;
        transform: translateX();

    }

    /*.billedeboks_wrapper{
        width: 75%;
        height: 30vw;
        padding: 5vw;

    }*/


    .brug_for{
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .boksewrapper{
        margin: 10vw;
        margin-top: -3vw;
        margin-bottom: 40vw;
    }

    .boksewrapper2{
        margin-left: 15vw;
        margin-right: 15vw;

    }


    .overskrift1{
        margin-left: 15vw;
        margin-right: 15vw;

    }

    .de_dyre_wrapper{
        margin: 11vw;
        height: 90vw;
        margin-top: -0.5vw;
    }

    .talboks{
        margin-top: -0.1vw;
        font-size: 350%
    }

    #cirkeldiagram{
      margin-top: 4vw;
    }

    .overskrift2{
        margin-left: 15vw;
        margin-right: 15vw;
        margin-top: -8vw;
        margin-bottom: 10vw;

    }

    #sectionwrapper{
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .container2{
        margin-left: 15vw;
        margin-right: 15vw;

    }

    .bokstildemo {
    margin-top: 0.25vw;
    margin-left: -1.2vw;
        height: 25px;


}


.bokstilyears {
    margin-top: 0.2vw;
    margin-left: -1.2vw;
    height: 24.5px;


}


    #map svg {
    width: 70vw;
}
    .some{
        margin-left: 24vw;
    }

     .boksewrapper2{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    margin-left: 15vw;
}

.iframe-container{
         display: flex;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    z-index: 1;
    margin-left: -15vw;

}



.txt2{

    color: white;
    margin-top: -4vw;
    position: relative;
    z-index: 4;
    width: 100%;
    margin-left: 20vw;
  width: 500px;
    padding: 2vw;
}

.boksewrapper{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    margin-left: 15.5vw;
}

.picture img{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    position: relative;
    z-index: 1;
}

.txt{


    color: white;

    position: relative;
    z-index: 4;
    width: 300px;
    height: 200px;
    margin-left: 10vw;
  width: 500px;
    padding: 2vw;

}

}


@media screen and (min-width: 1440px){
    header{
        height: 80px;
    }

    .splash-container{
        margin-top: 100px;
    }

     .billedeboks_wrapper {
        height: 10vw;
        width: 55%;
    }



    .brug_for{
        margin-left: 17.6vw;
        margin-right: 17.6vw;
    }


    .overskrift1{
        margin-left: 17.6vw;
        margin-right: 17.6vw;

    }

    .de_dyre_wrapper{
        margin: 13.7vw;
        height: 75vw;
        margin-top: -0.5vw;
    }

    .talboks{
        margin-top: 0.3vw;
        font-size: 500%
    }

    #cirkeldiagram{
      margin-top: 4vw;

    }

    .overskrift2{
        margin-left: 17.6vw;
        margin-right: 17.6vw;
        margin-top: -15vw;
        margin-bottom: 10vw;

    }

    #sectionwrapper{
        margin-left: 17.6vw;
        margin-right: 17.6vw;
    }

    .container2{
        margin-left: 17.6vw;
        margin-right: 17.6vw;

    }

    .bokstildemo {
    margin-top: 0.16vw;
    margin-left: -1.2vw;
        height: 25.5px;


}


.bokstilyears {
    margin-top: 0.14vw;
    margin-left: -1.2vw;
    height: 25px;


}

    #map svg {
    width: 70vw;
}
    .some{
        margin-left: 33vw;
    }

    #yearsdemo, #demo{
        padding: 0.3vw;
    }

    .boksewrapper2{
    margin-left: 17.6vw;
}

.iframe-container{
    margin-left: -14vw;

}



.txt2{
  width: 550px;

}

.boksewrapper{
    margin-left: 18vw;
    margin-top: -10vw;


}



.txt{
    margin-right: -8.5vw;


}
       #map svg {
    width: 65vw;
}
        .bokstildemo {
    margin-top: 0.15vw;
    margin-left: -1.4vw;
    height: 26px;

}


.bokstilyears {
    margin-top: 0.1vw;
    margin-left: -1.4vw;
    height: 25.5px;


}
    .some{
        margin-left: 31.5vw;
    }

    .de_dyre_wrapper{
        padding: 8vw;
        height: 55vw;
    }

    #cirkeldiagram {

    width: 30vw;
    height: 30vw;
    margin: auto;
    position: relative;
        margin-top: 4vw;

}

#cirkeldiagram svg {
    width: 30vw;
    height: 30vw;

}
    .talboks {
    width: 20%;
    height: 20%;
    position: absolute;
    top: calc(30% - -10%);
    left: calc(30% - -10%);
    border-radius: 300px;
    display: flex;
    justify-content: center;
    font-size: 300%;
    letter-spacing: -2.5px;
    margin-top: -2vw;

}
}

@media screen and (min-width: 1536px){
            .bokstildemo {
    margin-top: 0.13vw;
    margin-left: -1.4vw;
    height: 26px;

}


.bokstilyears {
    margin-top: 0.13vw;
    margin-left: -1.4vw;
    height: 25.5px;


}
    .some{
        margin-left: 32.5vw;
    }

.boksewrapper{
    margin-left: 18vw;
    margin-top: -10vw;
}

.txt2{
  width: 585px;

}

    .overskrift2{
        margin-top: -18vw;
    }


}

@media screen and (min-width: 1920px){
    .some{
        margin-left: 36vw;
    }
}
