body{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Work Sans', sans-serif;
}

h1{

}

/*navigation*/
header {
    display: grid;
    grid-template-columns: 1fr;
}

nav {

    max-height: 0px;
    overflow: hidden;
    transition: 0.6s;
    background: #fff;
    color: #000;
    width: 100%;
}

nav.show {
    max-height: 30px;
}

.logo {
    width: 98%;
    height: 50px;
    text-align: right;
    position: absolute;
    margin-top: 1vw;
    z-index: 2;

}

header {
    height: 60px;
    top: 0;
    background: white;
    opacity: .95;
    width: 100%;
    position: fixed;
    z-index: 8;

}

header img {
    height: 100%;
}

.burger {
    cursor: pointer;
    background-color: white;
    border: none;
    justify-self: block;
    width: 50%;
    z-index: 4;
    position: relative;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 6;
}

nav li {
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 13px;

}

.bar1,.bar3{
    width: 31px;
}

/* Videoer */

.youtube {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vw;
    width: 100%;
    justify-content: center;

}

.youtube h1 {
    margin-left: 4vw;
}

.kampagnevideo {

position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.kampagnevideo iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.explainer {

position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 50vw;
}

.explainer iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}



/* FOOTER */

footer {
    background-color: #052951;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer h1{
    font-size: 20px;
}

footer p{
    font-size: 14px;
}

.footer-content {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    bottom: 0;
}

.some {
    width: 250px;
    margin: 1vw;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #00b9ea;
  color: white;
}

.fa-instagram {
  background: #00b9ea;
  color: white;
}

.kontakt {
    width: 250px;
    margin: 1vw;
}

.kontakt a{
    text-decoration: underline;
    color: white;
}

.adresse {
    width: 250px;
    margin: 1vw;
}


@media screen and (min-width: 768px) {
.burger {
        display: none;

    }
    nav {
        max-height: 600px;

    }
    li {
        display: inline-block;
        margin-top: 1vw;
        cursor: pointer;

    }

         nav {
        height: 50px;
        width: 100%;
        background-color: white;
        margin: 0px;
        text-align: right;

    }
    nav a {
        display: inline-flex;
        margin: 0.8em;

    }

    .logo {
        width: 200px;
        height: 50px;
        text-align: left;
        margin-left: 1.5em;
        display: block;
    }

    header {
        position: fixed;
        top: 0;
        display: flex;
        background: white;
        width: 100%;

    }

    header img {
        display: block;
        width: auto;
        height: 100%;


    }

    .youtube {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vw;
    width: 60%;

}

    .youtube h1 {
    margin-left: 0vw;
}

.kampagnevideo {

position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    left: 20vw;

}

.kampagnevideo iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.explainer {

position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    left: 20vw;
    bottom: 3vw;
    margin-bottom: 10vw;
}

.explainer iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}


}
